html, body {
    height: 100%;
}

body {
    flex-direction: column;
    display: flex;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff
}

main {
    flex: 1; /* ocupa el espacio disponible entre header y footer */
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    padding: 20px;
}

#form-registro {
    background: #2c2c3e;  /* un color de fondo para que resalte */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 400px; /* evita que se estire demasiado */
}

#posicion a{
    text-decoration: none;/*elimina la linea subtitulo del link*/
    color: #fff;/*color del texto*/
    font-weight: bold;/*fuente del texto*/
    transition: color 0.3s;/*tiempo de demora de aparicion del color entre que el cursor se pone sobre el texto*/
}

#posicion a:hover{
    color: #4cafef;
}
#posicion{
    display: flex;/*Convierte el header en un contenedor flexible*/
    justify-content: space-between ;/*coloca un elemento a la izquierda y el otro a la derecha (con espacio entre ellos)*/
    align-items: center;/*Centra verticalmente los elementos dentro del header.*/
}